.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.about h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
